* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
}

body, html {
    color: #ecf0f1;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, #243B55, #141E30);
}

#container img {
    width: 7rem;
    position: absolute;
    left: 0;
}

#container {
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 6rem);
    height: calc(100% - 5rem);
}

#container h1 {
    margin: 1.4rem 0 0.5rem 0;
    font-weight: 600;
    font-size: 2rem;
}

#container h2 {
    margin: 0.8rem 0 0 0;
    font-weight: 400;
    font-size: 1.5rem;
}

#quiz-content {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    width: 55vw;
    left: 50%;
    transform: translate(-50%, -45%);
    top: 50%;
    grid-gap: 6rem 5rem;
}

#quiz-content .question {
    grid-column: 1 / 4;
}

#quiz-content .answer {
    text-align: center;
}

.question h2 {

}

#quiz-content button {
    transition: 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    outline: none;
    padding: 20px 30px;
    border: none;
    color: #ecf0f1;
    background-color: grey;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 800;
    cursor: pointer;
}

#quiz-content button:hover {
    transform: translateY(-.3rem);
}

button#agree {
    background: #27ae60;
}

button#disagree {
    background: #ee5253;
}

#quiz-content .submit button#back svg {
    margin: 0 1rem 0 0;
}

#quiz-content .submit button#proceed svg {
    margin: 0 0 0 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    font-size: 0.8rem;
}