* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
}

body, html {
    color: #ecf0f1;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, #243B55, #141E30);
}

#container img {
    grid-column: 1/2;
    width: 7vw;
}

#container {
    padding: 3vh;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20% 60% 20%;
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    justify-items: center;
    align-items: center;
}

#nav-wrapper {
}

#title-wrapper {
    display: grid;
    height: fit-content;
    grid-column: 2/3;
    justify-items: center;
}

#title-wrapper h1 {
    font-weight: 600;
    font-size: 2.8vh;
}

#title-wrapper h2 {
    margin: 0.8rem 0 0 0;
    font-weight: 400;
    font-size: 2.3vh;
}

#intro-wrapper {
    grid-column: 2/3;
}

#result-wrapper {
    margin: 3vh;
    align-self: self-start;
    grid-column: 2/3;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    display: none;
}

#result-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2vh;
    grid-auto-flow: dense;
    grid-column-gap: 4vw;
    font-size: 1.6vh;
}

#result-grid .result {

}

.result .commission {
    display: block;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: left;
}

.commission .commission-name {
    float: left;
}

.commission .commission-score {
    float: right;
}

.result .percentage-bar {
    height: 2vh;
    width: 22vw;
    border-radius: 20rem;
    display: inline-block;
    margin: 1.5vh 0;
    background-color: #86b6e3;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.result .fill {
    background-color: #86b6e3;
    border-radius: 20rem;
    height: 100%;
}

.result .unfilled {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 20rem;
}

#introduction {
    text-align: left;
    font-size: 1.9vh;
}

#quiz-content {
    grid-template-columns: 33% 33% 33%;
    grid-column: 2/3;
    grid-template-rows: 40% 60%;
    width: 80%;
    justify-items: center;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    display: none;
    height: 50%;
}

#quiz-content .question {
    grid-column: 1 / 4;
}

#quiz-content .answer {
    text-align: center;
}

#quiz-content h2 {
    grid-column: 1/4;
    font-weight: 400;
    /* margin: 0 0 3vh; */
    font-size: 2.6vh;
}

#quiz-content button {
    transition: 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    outline: none;
    border: none;
    color: #ecf0f1;
    background-color: grey;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    cursor: pointer;
    padding: 3vh;
    height: 60%;
    width: 75%;
}

button#start {
    transition: 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    outline: none;
    padding: 3vh 6vh;
    border: none;
    color: #ecf0f1;
    background: #27ae60;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    margin: 8vh 0 0 0;
}

#go-to-vijfje {
    grid-row: 1/2;
    grid-column: 3/4;
    display: none;
    transition: 0.2s ease-out;
    background: #86b6e3;
    opacity: 0.8;
    border: none;
    color: #243B55;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    outline: none;
    padding: 2vh 3vh;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    font-size: 1.4vh;
    word-break: keep-all;
    width: 10vw;
}

#go-to-vijfje-a {
    grid-row: 1/2;
    text-decoration: none;
    grid-column: 3/4;
}

button:hover {
    opacity: 0.7;
}

button#a {
    grid-column: 1/2;
    background: #27ae60;
}

button#d {
    background: #ee5253;
}

#more-info {
    text-align: center;
    margin: 4vh 0 0 0;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1.6vh;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    width: 100%;
}

footer #by {
    float: right;
    font-size: 0.85rem;
}

footer #by svg {
    color: #d63031;
}

/* Keyframes */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}